:root {
    --blue: #C8E7F1;
    --white: #f9f9f7;
    --orange: #DA9D56;
    --red: #EE8787;
    --light-yellow: #FAE59C;
    --green: #A7D99A;
    --light-green: #CED98E;
    --purple: #C6B7EF;
    --yellow: #efd863;
    --black: #000;
    --gray: rgb(210, 210, 210);
    --drop-shadow: drop-shadow(3px 3px 3px rgb(109, 104, 104));
}

body{
    background-color: var(--white);
    font-family: 'Nunito', sans-serif, 'Lucida Sans', 'Lucida Sans Regular', Verdana;
    list-style: none;
    padding: 0;
    margin: 0;

}

ul, a, h1, h2, h3, h4, h5, h6 {
    text-transform: capitalize;
    text-decoration: none;
    list-style: none; 
}
p {
    line-height: 1,5rem;
    text-align: left;
    max-width: 800px;
}
a {
    color: var(--black);
}


/* menu icon from: https://www.w3schools.com/icons/tryit.asp?filename=tryicons_fa-bars */

nav {
    background-color: var(--white);
    width: 100%;
    display: inline-block;
    padding-bottom: 40px;  
    height: 40px;
    line-height: 40px;  
}

nav ul {
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
}

#check, .check-button {
    display: none;
    font-size: 2.5em;
}

header {
    position: fixed;
    top: 0;
    width: 100%; 
}
.logo img {
    max-height: 500px;
    max-width: 1000px;
}
img {
    max-width: 1000px;
    max-height: 1000px;
}
.logo {
    display: flex;
    justify-content: center;
    max-height: 400px;
}

.content {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}
/* FOOTER */ 
footer {
    background-color: var(--light-yellow);
    font-size: 1em;
    padding-bottom: 30px;
    margin-top: 100px;
}
footer a {
    padding: 20px;
    font-weight: bold;
    font-size: 1.1em;
}

/* BUTTONS */ 

a.active, a:hover, button:hover {
    text-decoration: underline;
}

.button {
    text-align: center;
    filter: var(--drop-shadow);
    padding: 10px 20px;
    font-weight: bold;
    max-width: 150px;
}
.button.explore, .ecology, .energetica, .exhibitions {
    background-color: var(--orange);
    padding: 10px 20px;
}
.button.contact, .cosmology, .professor, .support, .location {
    background-color: var(--red);
    padding: 10px 20px;
}
.button.visit, .internships {
    background-color: var(--light-green);
    padding: 10px 20px;
}
.button.read, .biology, .night {
    background-color: var(--purple);
    padding: 10px 20px;
}
.button.exhibitions, .robotics {
    background-color: var(--green);
    padding: 10px 20px;
}
.button.research, .evolution, .news {
    background-color: var(--blue);
    padding: 10px 20px;
}
.button.explore.hero {
    background-color: var(--yellow);
    margin-bottom: 50px;
}
.explore.hero a {
    text-transform: uppercase;
}
.hero.text p {
    max-width: 500px;
}
.volunteer {
    background-color: var(--light-yellow);
    padding: 10px 20px;
}


/* ABOUT PAGE */ 

.about, .explore-kids {
    background-color: var(--light-yellow);
    padding: 20px;
}
/* LOCATION PAGE */

.map {
    margin-bottom: 50px;
    display: flex;
    flex-shrink: 1;
}

/* CONTACT PAGE */
input,textarea {
    background-color: var(--white);
    border: 0;
    padding: 10px;
    margin-bottom: 20px;
    filter: var(--drop-shadow);
  }
  .contact-form {
    display:flex;
    flex-direction: column;
    width: 350px;
    padding: 20px;
    background-color: var(--purple);
  }
.content.contact {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 100px;
    margin: auto;
}
.contact-area {
    width: 40%;
}
.get-involved {
    width: 60%;
}

/* INDEX / HOME PAGE */

.container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 4fr 1fr 4fr; 
    gap: 10px;
    max-width: 1000px;
    margin: auto;
    grid-template-areas: 
      "news news news news"
      "section1 section1 section2 section2"
      "exhibitions exhibitions location location"
      "section3 section3 section4 section4"; 
  }
  .news { grid-area: news; }

  .section1 {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 20px; 
    grid-template-areas: 
      "img1 text1"; 
    grid-area: section1; 
  }

  .img1 { grid-area: img1; }
  .text1 { grid-area: text1; }

  .section2 {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 20px; 
    grid-template-areas: 
      "img2 text2"; 
    grid-area: section2; 
  }
  .img2 { grid-area: img2; }
  .text2 { grid-area: text2; }

  .exhibitions { grid-area: exhibitions; }
  .location { grid-area: location; }
  
  .section3 {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 20px; 
    grid-template-areas: 
      "img3 text3"; 
    grid-area: section3; 
  }
  .img3 { grid-area: img3; }
  .text3 { grid-area: text3; }

  .section4 {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 20px; 
    grid-template-areas: 
      "img4 text4"; 
    grid-area: section4; 
  }
  .img4 { grid-area: img4; }
  .text4 { grid-area: text4; }

@media (min-width: 901px){

    .container img {
        height: 350px;
        width: 600px;
        max-height: 100%;
        max-width: 100%;
    }

.hero.wrapper {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto;
    margin: 0px 20px;
}
.button.explore.hero {
    width: 300px;
    font-size: 1.6em;
}

.explore.button {
    margin: auto;
    padding: 15px 100px;
    font-size: 1.3em;
}

header, #footer-content, footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    font-size: 1em;
}

#hours, #entry, #accessibility {
    width: 20%;
}

.about, .explore-kids, .cosmology, .evolution, .biology, .robotics, .ecology .wrapper  {
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-bottom: 50px;
}
.about p, .explore-kids p {
    margin: 30px;
}
.wrapper, .wrapper p, .ecology {
    padding-bottom: 50px;
}
.cosmology, .biology, .ecology, .evolution, .robotics, .ecology{
    display: grid;
    align-items: center;
    grid-template-columns: 40% auto;
    gap: 30px;
}
.cosmology-img, .evolution-img, .biology-img, .robotics-img, .ecology-img {
    max-width: 100%;
    max-height: 100%;
}

nav ul li {
    display: inline-block;
    padding: 20px;
}
.info.wrapper {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    gap: 30px;
    margin-top: 50px;
}
.food, .shop {
    width: 1fr;
}

p {
    font-size: 1.2em;
    line-height: 1.5em;
}

}
@media (max-width: 900px) {
     
.container, .section1, .section2, .section3, .section4{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-right: 10px;
}    

.section2 {
    display: none;
}
.button.explore.hero {
    padding: 10px 80px;
    background-color: var(--white);
    font-size: 1.5em;
}
.hero.wrapper {
    background-color: var(--yellow);
    padding: 30px;
}  
.hero.text {
    margin: 30px;
}

 .content {
        margin-left: 20px;
        margin-right: 20px;
    }
    footer ul, footer h2, footer a {
        list-style: none;
        padding-left: 0;
    }
    footer {
        padding: 50px;
    }
    
    .news.two {
        display: none;
    }

    #menu {
        display: none;
        width: 100%;
        background-color: var(--white);
        height: 100vh;
    }
    .check-button, nav ul li, #check:checked ~ ul{
        display: block;
        padding: 20px;
        line-height: 30px;
    }

    .logo img, img {
    max-width: 100%;
    }
    .main.content img {
        max-width: 300px;
    }
    main {
        margin-top: -100px;
    }
    .exhibitions {
        display: flex;
        flex-wrap: wrap;
        flex: auto;
        margin-bottom: 50px;
    }

    .get-involved {
        max-width: 90%;
        width: 100%;
        margin: 20px;
    }
    .content.contact {
        flex-direction: column;
        justify-content: center;
        max-width: 100vh;
        line-height: 1.5em;
        margin: auto;
    }
    .contact-area {
        justify-content: center;
        width: 300px;
        margin: 20px
    }
}    