:root {
    --blue: #C8E7F1;
    --white: #f9f9f7;
    --orange: #DA9D56;
    --red: #EE8787;
    --light-yellow: #FAE59C;
    --green: #A7D99A;
    --light-green: #CED98E;
    --purple: #C6B7EF;
    --yellow: #efd863;
    --black: #000;
    --gray: rgb(210, 210, 210);
    --drop-shadow: drop-shadow(3px 3px 3px rgb(109, 104, 104));
}

body{
    background-color: var(--white);
    font-family: 'Nunito', sans-serif, 'Lucida Sans', 'Lucida Sans Regular', Verdana;
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5 {
    padding: 10px;
}

ul, a, h1, h2, h3, h4, h5, h6 {
    text-transform: capitalize;
    text-decoration: none;
    list-style: none;    
}
p {
    line-height: 1,5rem;
    text-align: left;
    max-width: 800px;
}
a {
    color: var(--black);
}

/* menu icon from: https://www.w3schools.com/icons/tryit.asp?filename=tryicons_fa-bars */

nav {
    background-color: var(--white);
    width: 100%;
    display: inline-block;
    padding-bottom: 40px;  
    height: 40px;
    line-height: 40px;  
}

nav ul {
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
}
.hidden {
    display: none;
}
#check, .check-button {
    display: none;
    font-size: 2.5em;
}

header {
    position: fixed;
    top: 0;
    width: 100%; 
}
.logo img, img {
    max-height: 500px;
    max-width: 1000px;
}
img {
    max-height: 1000px;
}
.logo {
    display: flex;
    justify-content: center;
    max-height: 400px;
}
/* FOOTER */ 
footer {
    background-color: var(--light-yellow);
    font-size: 1em;
    padding-bottom: 30px;
    margin-top: 100px;
}
footer a {
    padding: 20px;
    font-weight: bold;
    font-size: 1.1em;
}

a.active, a:hover, button:hover {
    text-decoration: underline;
}

.content {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}
.container {
    margin-bottom: 50px;
}

.button {
    text-align: center;
    filter: var(--drop-shadow);
    padding: 10px 20px;
    font-weight: bold;
    max-width: 150px;
}
.button.explore, .robotics, .energetica, #exhibitions-h2 {
    background-color: var(--orange);
}
.button.contact, .cosmology, .professor, .support, .location h2 {
    background-color: var(--red);
}
.button.visit, .internships {
    background-color: var(--light-green);
}
.button.read, .biology, .night {
    background-color: var(--purple);
}
.button.exhibitions, .ecology {
    background-color: var(--green);
}
.button.research, .evolution, .events h2 {
    background-color: var(--blue);
}
.button.explore.hero {
    background-color: var(--yellow);
    margin-bottom: 50px;
}

.explore.hero a {
    text-transform: uppercase;
}

.hero.text p {
    max-width: 500px;
}
.volunteer {
    background-color: var(--light-yellow);
}
/* LOCATION PAGE */

.map {
    margin-bottom: 50px;
}

/* CONTACT PAGE */
input,textarea {
    background-color: var(--white);
    border: 0;
    padding: 10px;
    margin-bottom: 20px;
  }
  .contact-form {
    display:flex;
    flex-direction: column;
    width: 350px;
    padding: 20px;
    background-color: var(--purple);
  }
.content.contact {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 100px;
    margin: auto;
}
.contact-area {
    width: 40%;
}
.get-involved {
    width: 60%;
}
.cont {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.cont {
    align-items: center;
}
.events h2 {
    width: 100vh;
}
.cont img, .night text, .cont h3 {
    width: 1fr;
    max-height: 600px;
}

@media (min-width: 901px){

.button.explore.hero {
    float: right;
    margin-right: 100px;
    margin-top: -100px;
    width: 300px;
    font-size: 1.6em;
}
header, footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    width: 100%;
}
footer {
    font-size: 1.2em;
}
#hours, #entry, #accessibility {
    flex-basis: 30%;
}

    nav ul li {
    display: inline-block;
    padding: 20px;
    }
}

p {
    font-size: 1.2em;
    line-height: 1.5em;
}

@media (max-width: 900px) {
     
    .button.explore.hero {
    padding: 10px 80px;
    background-color: var(--white);
    font-size: 1.5em;
}
.hero.text {
    background-color: var(--yellow);
    padding: 20px;
}  

 .content {
        margin-left: 20px;
        margin-right: 20px;
    }
    footer ul, footer h2, footer a {
        list-style: none;
        padding-left: 0;
    }
    footer {
        padding: 50px;
    }
    
    .news.two {
        display: none;
    }

    #menu {
        display: none;
        width: 100%;
        background-color: var(--white);
        height: 100vh;
    }
    .check-button, nav ul li, #check:checked ~ ul{
        display: block;
        padding: 20px;
        line-height: 30px;
    }

    .logo img, img {
    max-width: 100%;
    }
    .main.content img {
        max-width: 300px;
    }
    main {
        margin-top: -100px;
    }
    .exhibitions {
        display: flex;
        flex-wrap: wrap;
        flex: auto;
        margin-bottom: 50px;
    }

    .get-involved {
        max-width: 90%;
        width: 100%;
        margin: 20px;
    }
    .content.contact {
        flex-direction: column;
        justify-content: center;
        max-width: 100vh;
        line-height: 1.5em;
        margin: auto;
    }
    .contact-area {
        justify-content: center;
        width: 300px;
        margin: 20px
    }

}    